.espacamento{
    margin-bottom: 10px;
}    
.limite-tabela{
    max-height:337px;
    height:337px;
    overflow-y:auto;
}
/*CSS para impressão*/
@media print {
    .noprint { display:none; } 
    body { background: #fff; }
}
   
    
  